<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  

  <div class="containerAdm"> 

    <div class="crearProductos">
      <h3 class="">EDITAR <%= productToEdit.id%></h3>
      <form method="POST" action="/editProduct/<%= productToEdit.id %>?_method=PUT" enctype="multipart/form-data">
        
        <input type="text" placeholder="Marca" class="" name="marca" value="<%= productToEdit.marca%>" required/>
      <br>
        <input type="text" placeholder="Nombre del producto" name="nombre" value="<%= productToEdit.nombre%>" class="" required/>
      <br>
        <input type="text" placeholder="Precio" name="precio" value="<%= productToEdit.precio%>" class="" required/>
      <br>
        <label for="imagenProducto" class="cp-tituloSeccion">Imagen del producto</label>
         <input id="imagenProducto" type="file" name="imagen" accept="jpg, png, jpeg" class="" multiple/> 
      <br>
        <label for="descripcion" class="desc"> Descripción:</label>
      <br>
        <textarea name="descripcion" id="descripcion" value="<%= productToEdit.descripcion%>" class=""> Descripción del producto</textarea>
      <br>
        <input type="number" placeholder="Stock"  name="stock" class="" required/>
      <br/>
      <br/>
        <button type="submit" class="btnGreen">Editar</button>

        
        
      </form>
      <form
          action="/editProduct/<%= productToEdit.id %>?_method=DELETE"
          method="POST"
          enctype="multipart/form-data"
        >
        <button type="submit" class="btn">Eliminar</button>
        </form>
    </div>
  </div>

  <!------------Footer------------>
  <footer>
    <%- include('./../partials/footer') %>
  </footer>
  
</body>

</html>