<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  <main>
    <section class="productDetail">
      <div class="img-detail">
        <img src="../../images/productos/<%=product.imagen%>" alt="" />
      </div>

      <div class="detail">
        <div class="detail-title">
          <h3><%=product.nombre%></h3>
          <h6><%=product.marca%></h6>
        </div>
        <div>
          <p><strong>Sabor:</strong> Cookies & Cream</p> 
          <p><strong>Peso:</strong> 5lbs</p>
          <p><strong>Precio:</strong><span class="price">$<%=product.precio%></span></p>

          <p>3 cuotas sin interés de $0</p>

          <p>6 cuotas sin interés de $0</p>
          <div class="cantidad">
            <p><strong>Cantidad:</strong></p>
            <select name="cantidad" id="cantidad">
              <option value="value1">1</option>
              <option value="value2" selected>2</option>
              <option value="value3">3</option>
              <option value="value3">4</option>
              <option value="value3">5</option>
            </select>
          </div>
        </div>
        <button class="btn">Añadir al Carrito</button>
        <button class="btn">Comprar Ahora</button>
      </div>
      <div class="descripcion">
        <h3>DESCRIPCION</h3>
        <span>Marca</span>
        <p><%=product.marca%></p>
        <span>Tipo de suplemento</span>
        <p>Proteína</p>
        <span>Formato</span>
        <p>Polvo</p>
        <span>Tipo de envase</span>
        <p>Pote</p>
        <span>Modo de uso</span>
        <p>
          <%=product.descripcion%>
        </p>
        <span>Objetivos</span>
        <p>
          Desarrollo muscular Recuperación Crecimiento Reparación de tejidos
          Estructura corporal Equilibrio interno
        </p>
      </div>
    </section>
  </main>

<!------------Footer------------>
<footer>
  <%- include('./../partials/footer') %>
</footer>

</body>
</html>