<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  <main>
    <section class="productDetail">
      <div class="img-detail">
        <img src="../../images/productos/<%=product.image%>" alt="" />
      </div>

      <div class="detail">
        <div class="detail-title">
          <h3><%=product.name%></h3>
          <h6><%=product.brand%></h6>
        </div>
        <div>
          <p><strong>Sabor:</strong> <%=product.taste%></p> 
          <p><strong>Peso:</strong> <%=product.weight%></p>
          <p><strong>Precio:</strong><span class="price"><%=product.price%></span></p>

          <p>3 cuotas sin interés de $0</p>

          <p>6 cuotas sin interés de $0</p>
          <div class="cantidad">
            <p><strong>Cantidad:</strong></p>
            <select name="cantidad" id="cantidad">
              <option value="value1">1</option>
              <option value="value2" selected>2</option>
              <option value="value3">3</option>
              <option value="value3">4</option>
              <option value="value3">5</option>
            </select>
          </div>
        </div>
        <button class="btn">Añadir al Carrito</button>
        <button class="btn">Comprar Ahora</button>
      </div>
      <div class="descripcion">
        <h3>DESCRIPCION</h3>
        <span>Marca</span>
        <p><%=product.brand.name%></p>
        <span>Categoría</span>
        <p><%=product.category.name%></p>
        <span>Modo de uso</span>
        <p><%=product.utility%></p>
        <span>Objetivos</span>
        <p><%=product.purpose%></p>
      </div>
    </section>
  </main>

<!------------Footer------------>
<footer>
  <%- include('./../partials/footer') %>
</footer>

</body>
</html>