<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  <main>
     
    <div class= "bloque_registro">
      <img src="/images/foto9.jpg" alt="suplementos" class="product_img">
      <div class= "registro">
         <form  method="POST" action="/users/register" enctype="multipart/form-data">
       

        <label for="imagenUsuario"> Imagen de Perfil</label>
        <input type="file" name="imagenUsuario" id= "imagenUsuario" />
        <% if (locals.errors && errors.imagenUsuario) { %>
          <div class="feedback">
            <%= errors.imagenUsuario.msg %> 
          </div>
         
        <% } %>
     
          
        
        <label for="userName"></label>
        <input type="text" name="userName" placeholder = "Nombre" />
        <% if (locals.errors && errors.userName) { %>
          <div class="feedback">
            <%= errors.userName.msg %> 
          </div>
         
        <% } %>
       
          

        <label for="surname"></label>
        <input type="text"  name="surname" placeholder="Apellido" /> 
        <% if (locals.errors && errors.surname) { %>
          <div class="feedback">
            <%= errors.surname.msg %> 
          </div>
         
        <% } %>
     
       

        <label for="email"></label>
        <input type="email"  name="email" placeholder="E-Mail" />
        <% if (locals.errors && errors.email) { %>
          <div class="feedback">
            <%= errors.email.msg %> 
          </div>
         
        <% } %>
     

        

        <label for="address"></label>
        <input type="text"  name="address" placeholder="Dirección"/>
      
     

        <label for="celular"></label>
        <input type="number"  name="celular" placeholder="Telefono"/>
       


        <label for="password"></label>
        <input type="password" name="password" placeholder="Contraseña"  />
        <% if (locals.errors && errors.password) { %>
          <div class="feedback">
            <%= errors.password.msg %> 
          </div>
         
        <% } %>
     
        

        <label for="rep-contraseña"></label>
        <input type="password"  name="rep-contraseña" placeholder="Repetir Contraseña"/>

        

        <div class="terminos">
          <input type="checkbox" name="terminos"/>
          <label for="terminos">Acepto los términos y condiciones</label>
        </div>
        
        <p>
        <button type="submit" class="btn">Registrar</button>
        <button type="reset" class="btn">Cancelar</button>
        </p>
        
      </form>
    </div>
    </div>
  </main>


<footer>
  <%- include('./../partials/footer') %>
</footer>

</body>
</html>